
        body {
        background-color: rgb(71, 170, 156);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background: url("../images/gradient.jpg");
        background-image: url("../images/gradient.jpg");
        background-repeat: repeat-x;
        font-family: 'Ruda', helvetica, monospace, Arial, sans-serif;
        font-size: 12px color: #ffffff;
        padding: 20px;
        border: 10px;
        image-resolution: from-image;
        @font-face {
            font-family: 'Ruda';
            src: url('fonts/Ruda.ttf');
        }
        .header {
            color: rgb(254, 254, 254);
            background-color: hsla(138, 100%, 16%, 0.95);
            text-align: center;
        }
        h1 {
            font-family: 'Ruda',helvetica,monospace, Arial;
            font-size: 250%;
            color: white;
            font-weight: bold;
            font-style: normal;
            text-transform: capitalize;
            line-height: normal;
            letter-spacing: 1em;
            text-align: center;
            text-shadow: -1px -1px rgb(187, 185, 185)
        }
        h2 {
            font-family: 'Ruda', helvetica, monospace;
            , impact, sans-serif;
            font-size: 2em;
            color: white;
            font-style: normal;
            font-weight: lighter;
            text-shadow: -2px -1px rgb(247, 245, 9)
        }
        @@font-face {
            font-family: 'lalezar';
            src: url('fonts/lalezar.ttf');
        }
        h3 {
            font-family: helvetica, 'lalezar';
            color: white;
        }
        a:link {
            color: black;
            text-decoration-style: wavy;
        }
        a:hover {
            color: purple;
            text-decoration-style: double;
        }
        a:visited {
            color: orange;
            text-decoration-style: dotted;
        }
        a:active {
            color: blue;
            text-decoration-style: dashed;
        }
