type="text/css">

body {
    font-family: monospace, Arial, sans-serif;
    font-size:12px
    color: #ffffff;
    padding: 20px;
}

.header {
    color: rgb(254, 254, 254);
    background-color: hsla(138, 100%, 16%, 0.95);
    text-align: center;
    padding: inherit;
}

h1 {

    font-family: "comfortaa", monospace, Arial;
    font-size: 250%;
    color: yellow;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    line-height: normal;
    letter-spacing: 1em;
    text-align: center;
    text-shadow: -1px -1px rgb(255, 54, 54)
}

h2 {
    font-family: monospace;, impact, sans-serif;
    font-size:2em;
    color: red;
    font-style: normal;
    font-weight: lighter;
    text-shadow: -2px -1px rgb(247, 245, 9)
}

h3 {
    font-family: "Lalezar";
    color: green
}

a:link {
    color: black;
    text-decoration-style: wavy;
}

a:hover {
    color: purple;
    text-decoration-style: double;
}

a:visited {
    color:orange;
    text-decoration-style: dotted;
}

a:active {
    color:blue;
    text-decoration-style: dashed;
}
